* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Avo;
    color: #095A95;
    background-color: #F9FCFF;
}

nav {
    text-align: center;
}

nav ul {
    margin:0;
    padding:0;
}

/*nav ul li {
    position: relative;
}*/

nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
}

nav ul li {
    display: inline; 
    margin:5px;
}

a {
    text-decoration: none;
    color: #095A95;
}

nav ul li:hover > a {
    color: #e80b2f;
}

.sub-menu {
    display: none;
    background-color: white;
    position: absolute; 
    z-index: 1;
    padding: 15px 30px;
    text-align: left;
    width: 100%;
    left: 0px;
    top: 114px;
    box-shadow: 0px 3px 5px 0px #888888;
}

.sub-menu > div {
    float: left;
    min-width: 200px;
}

.sub-menu > div > div {
    min-width: 155px;
    float: left;
}

/*.sub-menu div div {
    float: left;
    width: 177px;
}*/

/*.muc-vu {
    left: -20px;
    width: 480px;
}

.muc-vu div {
    width: 150px;
    float: left;
    margin-right: 10px;
}

.thong-tin {
    left: -376px;
    width: 738px;
}

.thong-tin div {
    float: right;
    width: 177px;
}*/

.sub-menu div:last-child {
    margin-right: 0px;
}

.sub-menu div h3 {
    color: black;
    font-size: 13px;
}

.sub-menu  div  a {
    font-size: 11px;
    padding-top: 13px;
    display: block;
    font-family: Avo;
    color: #095A95;
}

.sub-menu div a:hover {
    font-family: AvoBold;
}

nav ul li:hover > .sub-menu {
    display: block;
}

#container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.center {
    margin: 0 auto;
    width: 80%;
}

#slider img {
    width: 100%;
}

#events {
    border-radius: 5px;
	box-shadow: 0px 2px 10px 0px #888888;
	background: #0F7AB2 url("../images/hinh-thien-than.jpeg") top left no-repeat; 
}

.title-events {
    padding-bottom: 10px;
    text-align: center;
}

#list-main-events {
    overflow: auto;
    height: 105px;
    padding-left: 30px;
    /*padding-top: 5px;*/
}

footer {
    background-color: #0F7AB2;
}

.footer-block {
    float: left;
    width: 380px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 11px;
}

#address {
    font-family: AvoBold;
    font-size: 12px;
}

#contact {
    padding-left: 75px;
}

.event {
    width: 191px;
    float: left;
    height: 110px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

#events .event div {
    position:relative;
    top: -15px;
    background-color: #fff;
    width: 197px;
    height: 100px;
    border-radius: 7px;
    box-shadow: 0px 2px 10px 0px #888888;
	padding-top: 15px;	
}

.event:hover div a {
    background-color: #fff;
    opacity: 0.7;
}

.event:hover .block-red a {
    background-color: #E3113D;
    opacity: 0.7;
}

.event:last-child {
    margin-right: 0;
}

#main-events {
    padding-top: 100px;
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.main-event {
    font-size: 13px;
    width: 250px; 
    height: 50px;
}

.main-event a {
    color: white;
}

div.main-event:nth-child(even) {
    float: right;
}

div.main-event:nth-child(odd) {
    float: left;
}

.block-center-event {
    text-align: center;
    font-size: 30px;
}

.gionhom {
    float: left;
    width: 380px;
	font-family: AvoBold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.block-red {
    background-color: #E3113D !important;
    color: white;
}

.text-white {
    color: white;
}

.text-red {
    color: #E3113D !important;
}

.gionhom ul li {
    margin-bottom: 15px;
    color: #095A95;
}

.le-chu-nhat {
    background-color: #E3113D;
    color: white;
    margin-right: 7px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90px;
    display: inline-block;
    font-size: 13px;
}

.ul-header li > a{
	color: #095A95;
	font-size: 13px;	
	font-family: AvoBold;
}

.ul-header {
	margin-bottom: 10px;
}

#img-header{
	width: 195px;
	height: 110px;
	margin: 0 20px 0 20px;
	box-shadow: 2px 2px 10px #ABABAB;
	border-radius: 7px;
}

.logo-menu {
	width: 60px;
	height: 45px;
}

.lb-menu {
	font-size: 14px;
	font-family: AvoBold;
}

/* jssor slider bullet navigator skin 01 css */
.jssorb01 {
	position: absolute;
	left: 46.2% !important;
	top: 5px;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	/* size of bullet elment */
	width: 5px;
	height: 5px;
	filter: alpha(opacity=70);
	/* opacity: .7; */
	overflow: hidden;
	cursor: pointer;
	border-radius: 50%;
	/* border: #000 1px solid; */
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.jssorb01 div { 
	background-color: #095A95; 
	
}
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #39B8CD; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
	
	
@font-face {
   font-family: Avo;
   src: url(fonts/UTM_Avo.ttf);   
}

@font-face { 
   font-family: AvoBold;
   src: url(fonts/UTM_AvoBold.ttf);
}

@font-face { 
   font-family: AvoItalic;
   src: url(fonts/UTM_AvoItalic.ttf);
}

@font-face { 
   font-family: AvoBoldItalic;
   src: url(fonts/UTM_AvoBold_Italic.ttf);
}

.ul-ban-nganh {
	list-style-type: none;
	margin: 16px 15px 0px 40px;
}

.logo-ban-nganh {
	width: 74px;
	height: 55px;
}

.ban-nganh {
	text-align: center;
	font-size: 11px;
	font-family: AvoBold;
	width: 33%;
}

.ban-nganh a img:hover {
    background-color: #F9FCFF;
    opacity: 0.7;
}

#location {
	width: 30px;
    height: 25px;
}

#search {
	width: 40px;
    height: 40px;
	position: absolute;
    left: 0px;
    top: 407px;
	border-radius: 0px 10px 10px 0px;
}

.thoi-gian {
	font-family: Avo;
	font-size: 13px;
}

.ca-tho-phuong {
    font-family: AvoBold;
    font-size: 12px;
}

.infor {
    font-family: AvoItalic; 
    font-size:12px; 
}

#main-body .ul-header li > a{
    font-size: 11px;    
}

#main-body nav {
    position:relative;
    top: -15px;
    background-color: #fff;
    height: 45px;
    border-radius: 5px;
    box-shadow: 3px 4px 4px 0 #888888;
    padding-top: 10px;  
}

#main-body .ul-header li {
    margin: 19px;
}

#main-body .title {
    color: #002132;
    font-family: AvoBold;
    font-size: 23px;
}

.main-content {
    min-height: 300px;
}

/* =========================== */

.tmain-article {
    width: 600px;
}

.aside-news {
    width: 180px;
}

.latest-aside-news {
    margin-bottom: 7px;
}

.latest-aside-news > a > img {
    width: 180px;
    height: 130px;
}

.latest-aside-news > a > p {
    font-size: 12px;
    color: black;
}

/* =========================== */
