* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Avo;
    color: #2f5593;
}

nav {
    text-align: center;
}

nav ul  {
    margin:0;
    padding:0;
}

nav ul li {
    display:inline; 
    margin:5px;
}

nav a {
    text-decoration: none;
}

#container {
    width: 1000px;
    background-color: #F9FDFF;
    /*margin-bottom: 20px;*/
    /*margin-top: 20px;*/
}

.center {
    margin: 0 auto;
    width: 80%;
}

#slider img {
    width: 100%;
    height: 300px;
}

#events {
    background-color: #EFEFF2;
    /*height: 240px;*/
    border-radius: 5px;
	box-shadow: 0px 2px 10px 0px #888888;
	background-image: url("../images/hinh-thien-than.jpg"); 
}

.title-events {
    padding-bottom: 10px;
    text-align: center;
}

#list-main-events {
    overflow: auto;
    height: 105px;
}

footer {
    background-color: #3B74B0;
}

.footer-block {
    float: left;
    width: 380px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}

#address {
    font-family: AvoBold;
}

#contact {
    padding-left: 40px;
}

.event {
    width: 191px;
    float: left;
    height: 100px;
    margin-right: 10px;
    color: #2F5593;
    font-weight: bold;
    text-align: center;
    position: relative;
}

#events .event div {
    position:absolute;
    top: -15px;
    background-color: white;
    width: 197px;
    height: 100px;
    border-radius: 7px;
    box-shadow: 0px 2px 10px 0px #888888;
	padding-top: 15px;	
}

.event:last-child {
    margin-right: 0;
}

#main-events {
    padding-top: 105px;
}

.main-event {
    float: left;
    font-size: 13px;
    width: 255px;
    height: 50px;
    padding-left: 25px;
}

.block-center-event {
    text-align: center;
    font-size: 30px;
}

#content-3 {
    padding: 20px;
}

.gionhom {
    float: left;
    width: 380px;
	font-family: AvoBold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.block-red {
    background-color: #E3113D !important;
    color: white;
}

.text-red {
    color: #E3113D !important;
}

.gionhom ul li {
    margin-bottom: 15px;
    color: #2F5593;
}

.le-chu-nhat {
    background-color: #E3113D;
    color: white;
    margin-right: 7px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90px;
    display: inline-block;
    font-size: 14px;
}

.ul-header li  a{
	color: #2F5593;
    font-weight: bold;
	font-size: 13px;	
	font-family: AvoBold;
}

.ul-header {
	margin-bottom: 10px;
}

#img-header{
	width: 200px;
	height: 130px;
	margin: 0 20px 0 20px;
	box-shadow: 2px 2px 10px #ABABAB;
	border-radius: 9px;
}

.logo-menu {
	width: 60px;
	height: 45px;
}

.lb-menu {
	font-size: 14px;
	font-family: AvoBold;
}

/* jssor slider bullet navigator skin 01 css */
.jssorb01 {
	position: absolute;
	left: 46.2% !important;
	top: 5px;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	/* size of bullet elment */
	width: 5px;
	height: 5px;
	filter: alpha(opacity=70);
	/* opacity: .7; */
	overflow: hidden;
	cursor: pointer;
	border-radius: 50%;
	/* border: #000 1px solid; */
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.jssorb01 div { 
	background-color: #095A95; 
	
}
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #39B8CD; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
	
	
@font-face {
   font-family: Avo;
   src: url(fonts/UTM_Avo.ttf);   
}

@font-face { 
   font-family: AvoBold;
   src: url(fonts/UTM_AvoBold.ttf);
}

@font-face { 
   font-family: AvoItalic;
   src: url(fonts/UTM_AvoItalic.ttf);
}

@font-face { 
   font-family: AvoBoldItalic;
   src: url(fonts/UTM_AvoBold_Italic.ttf);
}

.ul-ban-nganh {
	list-style-type: none;
	margin: 28px 15px 0px 40px;
}

.logo-ban-nganh {
	width: 65px;
	height: 55px;
}

.ban-nganh {
	text-align: center;
	font-size: 11px;
	font-family: AvoBold;
	width: 33%;
}

#logo-search {
	width:130px;
	height:100px;
	
}

#location {
	width: 20px;
    height: 25px;
}

#search {
	width: 40px;
    height: 40px;
	position: absolute;
    left: 174px;
    bottom: 80px;
	border-radius: 0px 10px 10px 0px;
}

.thoi-gian {
	font-family: Avo;
	font-size: 13px;
}

.ca-tho-phuong {
    font-family: AvoBold;
    font-size: 12px;
}

.infor {
    font-family: AvoItalic; 
    font-size:12px; 
    color: #2f5593;
}