* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Avo;
}

nav {
    text-align: center;
}

nav ul  {
    margin:0;
    padding:0;
}

nav ul li {
    display:inline; 
    margin:5px;
}

nav a {
    text-decoration: none;
}

#container {
    width: 1000px;
    background-color: #F8FBFE;
    margin-bottom: 20px;
    margin-top: 20px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

#slider img {
    width: 100%;
    height: 300px;
}

#events {
    background-color: #0F7AB2;
    height: 250px;
    border-radius: 5px;
}

footer {
    background-color: #0F7AB2;
}

.footer-block {
    float: left;
    width: 380px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}

.event {
    width: 189px;
    float: left;
    height: 100px;
    margin-right: 4px;
    color: #0F7AB2;
    font-weight: bold;
    text-align: center;
    position: relative;
}

#events .event div {
    position:absolute;
    top: -15px;
    background-color: white;
    width: 189px;
    height: 100px;
    border-radius: 7px;
    box-shadow: 0px 2px 10px 0px #888888;
	padding-top: 15px;
}

.event:last-child {
    margin-right: 0;
}

#main-events {
    padding-top: 130px;
}

.main-event {
    float: left;
    width: 255px;
    color: white;
}

.block-left-event {
    padding-left: 25px;
    font-size: 14px;
}

.block-among-event {
    text-align: center;
    font-size: 30px;
}

#content-3 {
    padding: 20px;
}

.gionhom {
    float: left;
    width: 360px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.block-red {
    background-color: #E3113D !important;
    color: white;
}

.text-red {
    color: #E3113D !important;
}

.gionhom ul li {
    margin-bottom: 15px;
    color: #0f7ab2;
}

.le-chu-nhat {
    background-color: #E3113D;
    color: white;
    float: left;
    margin-right: 7px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.ul-header li  a{
	color: #0F7AB2;
    font-weight: bold;
	font-size: 13px;	
	font-family: AvoBold;
}

.ul-header {
	margin-bottom: 10px;
}

#img-header{
	margin: 0 20px 0 20px;
}

.logo-menu {
	width: 55px;
	height: 45px;
}

.lb-menu {
	font-size: 13px;
	font-family: AvoBold;
}

/* jssor slider bullet navigator skin 01 css */
	.jssorb01 {
		position: absolute;
	}
	.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
		position: absolute;
		/* size of bullet elment */
		width: 12px;
		height: 12px;
		filter: alpha(opacity=70);
		opacity: .7;
		overflow: hidden;
		cursor: pointer;
		border: #000 1px solid;
	}
	.jssorb01 div { background-color: gray; }
	.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
	.jssorb01 .av { background-color: #fff; }
	.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
	
	
@font-face {
   font-family: Avo;
   src: url(fonts/UTM_Avo.ttf);   
}

@font-face { 
   font-family: AvoBold;
   src: url(fonts/UTM_AvoBold.ttf);
}

@font-face { 
   font-family: AvoItalic;
   src: url(fonts/UTM_AvoItalic.ttf);
}

@font-face { 
   font-family: AvoBoldItalic;
   src: url(fonts/UTM_AvoBold_Italic.ttf);
}

.ul-ban-nganh {
	list-style-type: none;
}

.logo-ban-nganh {
	width: 65px;
	height: 55px;
}

.ban-nganh {
	text-align: center;
	font-size: 13px;
	font-family: AvoBold;
	width: 33%;
}