/*-------------------------------------*/
/* SCROLL BAR */
/*-------------------------------------*/   
    
    .jspContainer
    {
        overflow: hidden;
        position: relative;
    }

    .jspPane
    {
        position: absolute;
    }

    .jspVerticalBar
    {
        position: absolute;
        top: 0; right: 0;
        width: 11px; height: 100%;
        background: #ccc;
    }

    .jspHorizontalBar
    {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%; height: 11px;
        background: #ccc;
    }

    .jspVerticalBar *,
    .jspHorizontalBar *
    {
        margin: 0;  padding: 0;
    }

    .jspCap {display: none;}
    .jspHorizontalBar .jspCap{float: left;}

    .jspTrack
    {
        background: transparent;
        position: relative;
    }

    .jspVerticalBar .jspTrack{
        width: 5px;
        margin: 0 0 0 3px;
    }

    .jspHorizontalBar .jspTrack{
        height: 5px;
        margin: 3px 0 3px 0;
    }

    .jspVerticalBar .jspCap{
        display: block;
        height: 3px;   
        width: 11px;
    }

    .jspHorizontalBar .jspCap{
        display: block;
        width: 3px;    
        height: 11px;
    }

    .jspDrag
    {
        position: relative;
        top: 0; left: 0;
        border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        opacity: .75;
    
        background: #000;
        cursor: pointer;
    }

    .jspHorizontalBar .jspTrack,
    .jspHorizontalBar .jspDrag
    {
        float: left;
        height: 5px;
    }

    /*-------------------------------------*/
/* POPUP */
/*-------------------------------------*/
    
    /* Popup Menu */
    .ui-widget-overlay {
        position:absolute;
        top:0; left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.65);
    }
    .dnnFormPopup {
        position:absolute;
        padding:18px;
        background:#fff;
        -webkit-box-shadow:     0 0 25px 0 rgba(0, 0, 0, 0.75);
        box-shadow:             0 0 25px 0 rgba(0, 0, 0, 0.75);
    }
    /* Popup header */
    .dnnFormPopup .ui-dialog-titlebar {
        position:relative;
        padding:0 0 18px 0;
        border-bottom:1px solid #ddd;
        cursor:move;
        font-size:18px;
        font-weight:bold;
        
    }
    .dnnFormPopup .dnnModalCtrl{
        display: block;
        position: absolute;
        top: -30px; right: -30px;
        width: 69px; height: 26px;
        border-radius: 10px;
        background-color: #fff;
        -webkit-border-radius: 10px;
        box-shadow:0px 0px 5px #666;
    }
    
    .dnnFormPopup .dnnModalCtrl a.ui-dialog-titlebar-close{
        float: right;
        display:block;
        height:18px; width: 30px;
        margin: 4px 4px 0 1px;
        overflow:hidden;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #585858 url(../../images/closeBtn.png) no-repeat;
        background-position: 8px 4px;
        
        text-indent:-9999em;
    }
    .dnnFormPopup .dnnModalCtrl a.ui-dialog-titlebar-close:hover 
    {
        background:#358EEA url(../../images/closeBtn.png) no-repeat;
        background-position: 8px 4px;
    }
    .dnnFormPopup .dnnModalCtrl a.dnnToggleMax{
        float: left;
        display:block;
        height:18px; width: 30px;
        margin: 4px 0 0 4px;
        overflow:hidden;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background: #585858 url(../../images/resizeBtn.png) no-repeat;
        background-position: 10px 2px;
        
        text-indent:-9999em;
    }
    .dnnFormPopup .dnnModalCtrl a.dnnToggleMax:hover 
    {
        background: #358EEA url(../../images/resizeBtn.png) no-repeat;
        background-position: 10px 2px;
    }
    
    div.ui-dialog-titlebar > a.ui-dialog-titlebar-close{
        display:block;
        position:absolute;
        top: -30px; right: -30px;
        height:18px; width: 18px;
        margin: 0px;
        overflow:hidden;
        -webkit-border-radius: 12px;
        border-radius: 12px;
                
        background: #585858 url(../../images/closeBtn.png) no-repeat;
        background-position: 4px 4px;
        border: 3px solid #fff;
        
        text-indent:-9999em;
    }
        
    /* Poup Iframe styles*/
    .dnnFormPopup #iPopUp {
        width:100%!important; /* to overwrite inline javscript styles */
        padding-top:10px;
    }
    .dnnFormPopup .ui-dialog-content, #iPopUp .ui-dialog-content {
        position:relative;
        border:0;
        padding:0px;
        overflow:auto;
        background:#fff;
        
        zoom:1;
    }
    dnnFormPopup .ui-dialog-buttonpane {
        margin:.5em 0 0 0;
        padding:.3em 1em 1em .4em;
        overflow:hidden;
        
        border-width:1px 0 0 0;
        background-image:none;
        
        text-align:left;
    }
    .dnnFormPopup .ui-dialog-buttonpane .ui-dialog-buttonset {
        float:right;
    }
    .dnnFormPopup .ui-dialog-buttonpane button {
        margin:.5em .4em .5em 0.8em;
        padding:0.5em 1em;
        
        cursor:pointer;
        border:none;
        outline:none;
    }
    .dnnFormPopup .ui-resizable-se {
        float:right;
        height:24px; width:24px;
        background:url(../../images/modal-resize-icn.png) no-repeat bottom;
    }
    .dnnFormPopup .dnnDialog {
        padding:10px;
    }
    .dnnLoading {
        background: #fff url(../../images/loading.gif) no-repeat center center;
        position: absolute;
        z-index: 9999;
    }


* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Avo;
    color: #095A95;
    background-color: #F9FCFF;
}

nav {
    text-align: center;
}

nav ul {
    margin:0;
    padding:0;
}

nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
}

nav ul li {
    display: inline; 
    margin:5px;
}

a {
    text-decoration: none;
    color: #095A95;
}

nav ul li:hover > a {
    color: #e80b2f;
}

ul {
    margin: 0;
    list-style: outside none disc !important;
}

#container #content {
    position: relative;
}

.sub-menu {
    display: none;
    background-color: white;
    position: absolute; 
    z-index: 1;
    padding: 15px 30px;
    text-align: left;
    width: 100%;
    left: 0px;
    top: 114px;
    box-shadow: 0px 3px 5px 0px #888888;
}

.sub-menu > div {
    float: left;
    min-width: 200px;
}

.sub-menu > div > div {
    min-width: 155px;
    float: left;
}

.sub-menu div:last-child {
    margin-right: 0px;
}

.sub-menu div h3 {
    color: black;
    font-size: 13px;
}

.sub-menu  div  a {
    font-size: 11px;
    padding-top: 13px;
    display: block;
    font-family: Avo;
    color: #095A95;
}

.sub-menu div a:hover {
    font-family: AvoBold;
}

nav ul li:hover > .sub-menu {
    display: block;
}

#container {
    width: 1000px;
	margin: 0 auto;
    position: relative;
}

.center {
    margin: 0 auto;
    width: 80%;
}

#slider img {
    width: 100%;
}

#events {
    border-radius: 5px;
	box-shadow: 0px 2px 10px 0px #888888;
	background: #0F7AB2 url("./images/hinh-thien-than.jpeg") top left no-repeat; 
}

.title-events {
    padding-bottom: 10px;
    text-align: center;
}

#list-main-events {
    overflow: auto;
    height: 105px;
    padding-left: 30px;
}

footer {
    background-color: #0F7AB2;
    margin-top: 7px;
}

.footer-block {
    float: left;
    width: 380px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 11px;
}

#address {
    font-family: AvoBold;
    font-size: 12px;
}

#contact {
    padding-left: 75px;
}

.event {
    width: 191px;
    float: left;
    height: 110px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

#events .event div {
    position:relative;
    top: -15px;
    background-color: #fff;
    width: 197px;
    height: 100px;
    border-radius: 7px;
    box-shadow: 0px 2px 10px 0px #888888;
	padding-top: 15px;	
}

.event:hover div a {
    background-color: #fff;
    opacity: 0.7;
}

.event:hover .block-red a {
    background-color: #E3113D;
    opacity: 0.7;
}

.event:last-child {
    margin-right: 0;
}

#main-events {
    padding-top: 100px;
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.main-event {
    font-size: 13px;
    width: 250px; 
    height: 50px;
}

.main-event a {
    color: white;
}

div.main-event:nth-child(even) {
    float: right;
}

div.main-event:nth-child(odd) {
    float: left;
}

.block-center-event {
    text-align: center;
    font-size: 30px;
}

.gionhom {
    float: left;
    width: 380px;
	font-family: AvoBold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.block-red {
    background-color: #E3113D !important;
    color: white;
}

.text-white {
    color: white;
}

.text-red {
    color: #E3113D !important;
}

.gionhom ul li {
    margin-bottom: 15px;
    color: #095A95;
}

.le-chu-nhat {
    background-color: #E3113D;
    color: white;
    margin-right: 7px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90px;
    display: inline-block;
    font-size: 13px;
}

.ul-header li > a{
	color: #095A95;
	font-size: 13px;	
	font-family: AvoBold;
    vertical-align: unset;
}

.ul-header li > a > img{
    vertical-align: unset;
}

img{
    vertical-align: unset;
}

.ul-header {
	margin-bottom: 10px;
}

#img-header{
	width: 195px;
	height: 110px;
	margin: 0 20px 0 20px;
	box-shadow: 2px 2px 10px #ABABAB;
	border-radius: 7px;
}

.logo-menu {
	width: 60px;
	height: 45px;
}

.lb-menu {
	font-size: 14px;
	font-family: AvoBold;
}

/* jssor slider bullet navigator skin 01 css */
.jssorb01 {
	position: absolute;
	left: 46.2% !important;
	top: 5px;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	/* size of bullet elment */
	width: 5px;
	height: 5px;
	filter: alpha(opacity=70);
	/* opacity: .7; */
	overflow: hidden;
	cursor: pointer;
	border-radius: 50%;
	/* border: #000 1px solid; */
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.jssorb01 div { 
	background-color: #095A95; 
	
}
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #39B8CD; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

	
@font-face {
   font-family: Avo;
   src: url(fonts/UTM_Avo.ttf);   
}

@font-face { 
   font-family: AvoBold;
   src: url(fonts/UTM_AvoBold.ttf);
}

@font-face { 
   font-family: AvoItalic;
   src: url(fonts/UTM_AvoItalic.ttf);
}

@font-face { 
   font-family: AvoBoldItalic;
   src: url(fonts/UTM_AvoBold_Italic.ttf);
}

.ul-ban-nganh {
	list-style-type: disc;
	margin: 16px 15px 0px 40px;
}

.logo-ban-nganh {
	width: 74px;
	height: 55px;
}

.ban-nganh {
	text-align: center;
	font-size: 11px;
	font-family: AvoBold;
	width: 33%;
	margin: 0 auto;
}

.ban-nganh a img:hover {
    background-color: #F9FCFF;
    opacity: 0.7;
}

.ban-nganh a {
    color: #095a95 !important;
}

#location {
	width: 30px;
    height: 25px;
}

#search {
	width: 40px;
    height: 40px;
	position: absolute;
    left: 0px;
    top: 407px;
	border-radius: 0px 10px 10px 0px;
}

.thoi-gian {
	font-family: Avo;
	font-size: 13px;
}

.ca-tho-phuong {
    font-family: AvoBold;
    font-size: 12px;
}

.infor {
    font-family: AvoItalic; 
    font-size:12px; 
}

#main-body .ul-header li > a{
    font-size: 11px;    
}

#main-body nav {
    position:relative;
    top: -15px;
    background-color: #fff;
    height: 45px;
    border-radius: 5px;
    box-shadow: 3px 4px 4px 0 #888888;
    padding-top: 10px;  
}

#main-body .ul-header li {
    margin: 19px;
}

.main-content {
    min-height: 300px;
    font-family: Avo !important; 
    color: #002132;
}

.main-content h1 {
    font-family: AvoBold !important; 
    color: #002132 !important;
    font-size: 23px;
}

/* sidebar news */

.tmain-article {
    width: 595px;
}

.aside-news {
    width: 188px;
    overflow: auto;
    height: 708px;
    padding-left: 12px;
    border-left: 3px solid #BABABA;
}

.aside-news .mCSB_scrollTools {
    width: 6px !important;
 }

.aside-news .mCSB_dragger_bar {
    width: 3px !important;
}

.aside-news .mCS-minimal-dark {
    margin-top: 1px !important;
}

.latest-aside-news {
    margin-bottom: 7px;
}

.latest-aside-news img {
    width: 167px;
    height: 97px;
    box-shadow: 0px 3px 5px 0px #888888;
    border-radius: 3px;
}

.latest-aside-news > a > p {
    font-size: 12px;
    color: black;
    text-transform: lowercase;
}

.latest-aside-news > a > p:first-letter {
    text-transform: uppercase;
}

/* =========================== */

/*==========bai giang==========*/

#baigiang-content {
    margin-bottom: 17px;
    position: relative;
}

#baigiang-header {
    text-align: center;
    color: white;
    font-size: 13px;
    background-color: #E30B2F !important;
}

#baigiang-left, #baigiang-left:before {
    width: 25%;
}

#baigiang-left:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background: #002538;
}

#baigiang-right {
    width: 75%;
}

#baigiang-content #left-top {
    background-color: #0F7AB2;
    height: 130px;
    text-align: center;
    color: white;
    position: relative
}

#left-top h2 {
    font-size: 22px;
    padding-top: 48px;
    /*position: absolute;               
    top: 50%;                        
    transform: translate(7%, -50%) }  */
}

#baigiang-content .listbaigiang {
    background-color: #002538;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    padding-left: 10px;
}

.listbaigiang p {
    padding-bottom: 13px;
    font-size: 14px;
}

.listbaigiang a {
    color: white !important;
    font-size: 14px !important;
}

#breadcrumb {
    background-color: #9F9F9F;
    color: white;
    font-size: 12px;
    padding-bottom: 3px;
}

.breadcrumbLink {
    padding-left: 15px;
    padding-right: 6px;
}

#breadcrumb a {
    color: white;
}

.content-right {
    padding: 20px 0px 0px 20px;
}

.latestbaigiang .ArticleImage {
    width: 30%;
    padding-top: 5px;
}

.latestbaigiang .ArticleImage img {
    border-radius: 3px;
    box-shadow: 0 0px 3px 1px #888888;
}

.latestbaigiang .ArticleContent {
    padding-left: 13px;
    width: 70%;
}

.latestbaigiang .ArticleTitle {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.latestbaigiang .Date {
    font-size: 14px;
    color: #777777;
}

.latestbaigiang .Summary {
    font-size: 14px;
}

.ArticleBody {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    padding-top: 20px;
}

#baigiang-right .PagingTable{
    padding-left: 17px !important;
}

.sermonTitleDate {
    font-size: 13px !important;
    color: white !important;
}

/*==========end bai giang==========*/